<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.logistics.mapper.CategoryMapper">
    <insert id="add" parameterType="com.example.logistics.domain.bean.Category">
         INSERT into category(category_code,category_name,parent_id,is_end,create_time)
        VALUES (#{categoryCode},#{categoryName},#{parentId},#{isEnd},#{createTime})
    </insert>
    <sql id="selectSql">
        category_code AS categoryCode,category_name AS categoryName,parent_id AS parentId,is_end AS isEnd
    </sql>
    <select id="queryCatByCode" resultType="com.example.logistics.domain.bean.Category">

        SELECT <include refid="selectSql"/> FROM category WHERE category_code=#{categoryCode}
    </select>
</mapper>