<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.logistics.mapper.GoodsCategoryRelationMapper">
    <insert id="add" parameterType="com.example.logistics.domain.bean.GoodsCategoryRelation">
        INSERT into goods_category_relation(good_code,category_id,create_time)
        VALUES (#{goodCode},#{categoryId},#{createTime})
    </insert>

    <select id="queryRelation" resultType="com.example.logistics.domain.bean.GoodsCategoryRelation">
        select good_code AS goodCode,category_id AS categoryId from goods_category_relation
        where good_code=#{goodCode} and category_id=#{categoryId}
    </select>
</mapper>