<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.logistics.mapper.MemberRechargeRecordMapper">

    <insert id="add" parameterType="com.example.logistics.domain.bean.MemberRechargeRecord">
        INSERT into member_recharge_record(shop_no,code,give_amount,recharge_amount,create_time)
        VALUES (#{shopNo},#{code},#{giveAmount},#{rechargeAmount},#{createTime})
    </insert>
    <select id="queryRecordByCodeShopNo" resultType="com.example.logistics.domain.bean.MemberRechargeRecord">
        SELECT shop_no AS shopNo,code FROM member_recharge_record  WHERE code=#{code} AND shop_no=#{shopNo}
    </select>
</mapper>