<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.logistics.mapper.ShopMapper">
    <insert id="addShop" parameterType="com.example.logistics.domain.bean.Shop">
        INSERT into shop(shop_no,shop_name,shop_owner,shop_address,shop_tel,shop_status,province,province_id,city,
        city_id,area,area_id,is_close_vip,phone)
        VALUES (#{shopNo},#{shopName},#{shopOwner},#{shopAddress},#{shopTel},#{shopStatus},#{province},
        #{provinceId},#{city},#{cityId},#{area},#{areaId},#{isCloseVIP},#{phone})
    </insert>
    <update id="updateShow" parameterType="com.example.logistics.domain.bean.Shop">
        update shop
        <set>
            <if test="shopName != null and shopName!=''">
                shop_name = #{shopName},
            </if>
            <if test="shopOwner != null and shopOwner!=''">
                shop_owner = #{shopOwner},
            </if>
            <if test="shopAddress != null and shopAddress!=''">
                shop_address = #{shopAddress},
            </if>
            <if test="shopTel != null and shopTel!=''">
                shop_tel = #{shopTel},
            </if>
            <if test="shopStatus != null">
                shop_status = #{shopStatus},
            </if>
        </set>
        where shop_no = #{shopNo}
    </update>
    <sql id="selectSql">
       id, shop_no AS shopNo,shop_name AS shopName,shop_owner AS shopOwner,shop_address AS shopAddress,shop_tel
        AS shopTel,shop_status AS shopStatus ,phone,province,province_id AS  provinceId
         ,city,city_id  AS cityId,area,area_id AS areaId,industry,is_close_vip AS isCloseVIP
    </sql>
    <select id="queryShopByNo" resultType="com.example.logistics.domain.bean.Shop">
        SELECT  <include refid="selectSql"/>
         FROM shop  WHERE shop_no=#{shopNo}
    </select>
    <select id="queryShopListByPhone" resultType="com.example.logistics.domain.bean.Shop">
        SELECT  <include refid="selectSql"/>
        FROM shop  WHERE phone=#{phone}
    </select>
</mapper>