<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.logistics.mapper.UserMapper">
    <insert id="register" parameterType="com.example.logistics.domain.bean.User">
        insert into sys_user(phone,nick_name,password,head_pic,create_time,user_type,leader_id) VALUES (#{phone},#{nickName},
        #{password},#{headPic},#{createTime},#{type},#{leaderId})
    </insert>
    <select id="queryByPhone" resultType="com.example.logistics.domain.bean.User">
        SELECT id, phone,nick_name AS nickName,password,head_pic AS headPic FROM sys_user WHERE phone=#{phone}
    </select>

    <update id="updateUser" parameterType="com.example.logistics.domain.bean.User">
        update sys_user
        <set>
            <if test="nickName != null and nickName!=''">
                nick_name = #{nickName},
            </if>
            <if test="password != null and password!=''">
                password = #{password},
            </if>
        </set>
        where phone = #{phone}
    </update>
</mapper>